html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
}

#error {
  color: red;
  font-weight: bold;
  padding: 10px;
}
